.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
}
.loadingText {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
.loading{
    max-width: 60%;
}