.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 50%;  
}
.loadingText {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #72fff8;
  }
.imgLoading{
    max-width: 20%;
}